#node-popUp {
    display: none;
    position: absolute;
    top: 25%;
    left: 1%;
    z-index: 299;
    width: auto;
    height: 22rem;
    overflow-y: auto;
    background-color: #f9f9f9;
    border: 3px solid #333;
    border-radius: 1rem;
    padding: 10px;
    text-align: center;
  }
  
  #node-operation {
    font-weight: bolder;
  }
  
  table.legend_table {
    font-size: 1rem;
    border: 1px solid #d3d3d3;
  }
  
  table.legend_table,td {
    border: 1px solid #d3d3d3;
    padding: 2px;
  }
  
  div.table_content {
    width: 80px;
    text-align: center;
  }
  
  div.table_description {
    width: 100px;
  }
  
  #node-saveButton, #node-closeButton{
    margin: .5rem .25rem;
    padding: 5px;
  }