.overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}

.modalContainer {
    max-width: 600px;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
}

.plot {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.closeBtn {
    position: fixed;
    padding: 1rem;
    top: 8px;
    right: 8px;
    cursor: pointer;
}