.form-wrapper{
    margin: 0.5rem;
}

.search-nav-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.export-btn {
    padding: 0.25rem;
    margin-right: auto;
    
}

.physics-lbl {
    float: left;
}

/* The switch - the box around the slider */
.switch {
    margin-right: 2rem;
    margin-left: 0.5rem;
    float: left;
    position: relative;
    width: 45px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.node-search {
    padding: 0.25rem;
    margin-left: auto;
}

/* Buttons */
.find-btn {
    padding: 0.25rem;
    width: 3rem;
    margin-right: auto;
}

.prev-btn {
    padding: 0.25rem;
    width: 3.5rem;
}

.next-btn {
    padding: 0.25rem;
    width: 3.5rem;
    margin-right: 1rem;
}

.reset-btn {
    width: 4rem;
    padding: 0.25rem;
}