.main-network {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 80vh;
  width: 68vw;
}

#progressBar {
  position: absolute;
  width: 500px;
  height: 3em;
  left: 15%;
  top: 50%;
  background-color: #333;
  border-radius: 1.5em;
  color: white;
  transition: all 0.5s ease;
  z-index: 1;
}

#loadingBar {
  display: flex;
  align-items: center;
  position: absolute;
  left: .5em;
  top: .5em;
  bottom: .5em;
  width: 16px;
  min-width: 2rem;
  max-width: calc(100% - 1em);
  background-color: #b25a00;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 1em;
  padding: 1em;
}