.about-banner {
   display: flex;
   width: 100%;
   padding: 4px;
}

.features-list > ul {
   padding: 0 0 0 40px;
}

.description {
   padding: 1rem 2rem;
   text-align: center;
   font-weight: bold;
}

.close-about-btn {
   width: 5rem;
   height: 2.5rem;
   color: white;
   background-color: #333;
   border: 1px solid#FFFFFF;
   margin-left: auto;
   margin-right: 1rem;
   border-radius: 5px;
   text-transform: uppercase;
   cursor: pointer;
}

.close-about-btn:hover {
   background-color: #45ab48;
}

.about-title {
   text-align: center;
}

.citation-wrapper {
   margin-top: 1rem;
}
