.nav-logo {
  height: auto;
  width: 12rem;
}

.header-btn {
  width: 5rem;
  height: 2.5rem;
  color: white;
  background-color: #333;
  border: 1px solid#FFF;
  margin-left: auto;
  margin-right: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.header-btn:hover {
  background-color: #45ab48;
}
