.upload-modal {
  z-index: 9999;
}

.upload-modal,
.upload-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.upload-overlay {
  background-color: rgba(49, 49, 49, 0.8);
}
