.vis-toolbar {
    display: flex;
    height: 3rem;
    padding: 0 0.5rem;
    justify-content: center;
    align-items: center;
    margin: 0.375rem;
    border-radius: 10px;
    flex-shrink: 0;

    box-shadow:
        0px 2px 4px rgba(0, 0, 0, 0.16),
        0px 4px 10px rgba(0, 0, 0, 0.24);
}
