#networks-wrapper {
  display: inline-block;
  width: 100%;
  height: calc(100vh - 7rem);
}

.main-network {
  border-top: 1px solid lightgrey;
  /* border-radius: 5px; */
  width: 70%;
  height: 100%;
}

#circularProgress {
  position: absolute;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background: conic-gradient(#b25a00 1deg, #333 0deg);
  display: flex;
  left: 30%;
  top: 50%;
  align-items: center;
  justify-content: center;
}

#circularProgress::before {
  content:"";
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
}

#progressValue{
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  color: #b25a00;
}