* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto
}

body {
	background: linear-gradient(45deg, #000000, #2f4550, #586f7c, #f4f4f9);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h3 {
   color: #fff;
   font-weight: bold;
   padding: 0.5rem;
}

.img-wrapper {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.img-wrapper > img { 
   max-width: 100%; 
   max-height: 100%; 
   display: block; 
   margin: auto;
}