* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto
}

body {
   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
   background-size: 400% 400%;
   animation: gradiant 5s ease infinite;
   height: 100vh;
}

h3 {
   color: #fff;
   font-weight: bold;
   padding: 0.5rem;
}

.loader {
   border: 5px solid rgb(0, 0, 0);
   border-radius: 50%;
   border-top: 5px solid #ffffff;
   width: 40px;
   height: 40px;
   -webkit-animation: spin 1s linear infinite;
   /* Safari */
   animation: spin 1s linear infinite;
   margin: auto;
   left: 0;
   right: 0;
   top: 0px;
   bottom: 0;
   position: fixed;
}

/* Safari */
@-webkit-keyframes spin {
   0% {
      -webkit-transform: rotate(0deg);
   }

   100% {
      -webkit-transform: rotate(360deg);
   }
}

@keyframes gradiant {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

.center {
   border: none !important;
   text-align: center;
}